/***********************
GENERAL
************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  padding: 10px 10px;
}

h3 {
  margin: 0 0 1em 0;
}


/***********************
HEADING
************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  font-height: 0.8em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: 400;
  color: #73e600;
}



/***********************
NAVIGATION
************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 15px 10px;
}

ul.listing {
    display: inline-block;
}
/* removed padding from top of nav bar on blog pag*/

.secondary-nav {
  float: right;
  font-size: 13.2px;
  margin-top: 22px;
  margin-right: 0px;
  margin-left: 0px;
  letter-spacing: 2px;
}
/* !important overriddes everything else but a sub important */
.secondary-nav a
{
  color: #edebeb !important;
}
/***********************
FOOTER
************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/***********************
PAGE: PORTFOLIO
************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 80%;
  min-width: 288px;
  margin: 2.5% 20% 2.5% 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a {
  position: relative;
  display: inline-block;
}

#gallery li section div.right-half article p {
  margin: 0;
  /*padding: 5%; maybe for responsive*/
  font-size: 1.2em;
  color: #777;
  padding: 0.3em 1.2em 1.9em 0.1em;
}

#gallery li section div.right-half article ul.project-links {
  float: left; 
  text-decoration: none; 
  padding: 0px;
  list-style-type: none;
  text-align: center;
  clear: both;
}


#gallery li section div.right-half article p.project-title {
	padding: 0.3em 0em 0em 0em;
	margin: 0;
	font-size: 1.4em;
	font-weight: 600;
}

.container-projects {
	display: flex;
}

.left-half {
	flex: 0.75;
  margin: 0px 15px 0px 0px;
  display: none;
}

.right-half{
	flex: 1.25;
}

/* project buttons */
.btn {
    border: 1px;
    padding: 8px 18px;
    font-size: 1.2em;
    border-radius: 70px;
    list-style-type: none;
    text-decoration: none;
}

/* blue project link buttons */
a.btn-link {
    width: 20%;
    min-width: 50px;
    border-color: #2196F3;
    background: #CADCCD;
    color: #777
    cursor: pointer;
    margin: 5px 5px 5px 0px;
    padding: 5px 8px;
    border-radius: 10px;
    text-align: center;
}

a.btn-link:hover {
    background: #6ab47b;
    color: white;
}


/* gray project skills buttons */
.btn-skills {
    border-color: #e7e7e7;
    cursor: default;
    background: #e7e7e7;
    color: #777;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 18px;
    display: none;
}

/* no hover because doesn't click
.default:hover {
    background: #e7e7e7;
}
*/

/***********************
PAGE: ABOUT
************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 5%;
}


/***********************
PAGE: BLOG
************************/

.big-vertical-margin {
    margin: 10px 0;
}
/* change the spacing between objects to be more than normal line spacing but less than a full empty line */

.text-red {
  color: red;
}
/* changes text to red, demo for how to combine classes */

.rc-scout {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}
.rc-scout__text {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  font-size: 100%;
}
.rc-scout__link:link, .rc-scout__link:visited {
  color: #61ae24;
  text-decoration: underline;
}
.rc-scout__link:hover, .rc-scout__link: active {
  color: #4e8b1d;
}

/* rc scout widget/ad styling stolen from Nick and not used so far */

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

/***********************
PAGE: CONTACT
************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  clear: both; 
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

.contact-info li.linkedin a {
  background-image: url('../img/linkedin.png');
  background-size: 12px;
  background-position: 1.5% 50%;
}

.learn-more {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  clear: both; 
}

.learn-more a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.learn-more li.resume a {
  background-image: url('../img/resume.png');
}


/***********************
COLORS
************************/

/* site body */
body {
  background-color: #fff;
  color: #6c8e73;
}

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  background: #599a68;
}

/* logo text */
h1 {
  color: #fff;
}

h2 {
  color: #edebeb;
  letter-spacing: 5px;
}

/* links */
a {
  color: #32673f;
}
/* past: #6ab47b (grey) */


li a {
  color: #6c8e73
}


/* nav links */

/* disable visited */
/*
nav a, nav a:visited {
  color: #73e600;
}
*/

nav a {
  color: #32673f;
}

/* selected nav link */
nav a.selected {
  border-bottom: 2px solid ;
  display: inline-block;
  line-height: 0.2;
  color: #32673f;
}

/* disable hover */
/* 
nav a:hover {
  color: #32673f;
}
*/
