@media screen and (min-width: 480px) {
    /***********************
    TWO COLUMN LAYOUT
    ************************/

    #primary {
        width: 65%;
        float: right;
    }

    #secondary {
        width: 30%;
        float: left;
    }
    /***********************
    determine correct width for images
    3*5=15
    100% - 15% = 85%
    85/3 = 28.33333333
    ************************/

    /***********************
    PAGE: PORTFOLIO
    ************************/

    #gallery li {
        width: 80%;
    }

    #gallery li:nth-child(4n) {
        clear: left;
    }

    #gallery li section div.left-half {
        display: block;
    }

    a.btn-link {
        width: 15%;
    }

    .btn-skills {
        display: inline-block;
    }

    /***********************
    PAGE: ABOUT
    ************************/

    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }

}

@media screen and (min-width: 660px) {

    /***********************
    HEADER
    ************************/

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }

    header {
        border-bottom: 5px solid #599a68;
        margin-bottom: 60px;
    }

    /***********************
    PAGE: PORTFOLIO
    ************************/

    a.btn-link {
        width: 20%;
        margin: 5px 10px 10px 0px
    }

    .btn-skills{
        padding: 10px 18px
    }

}